numpy
torch
torchvision
pandas
matplotlib
tqdm
# PIL
six
pytz
# dateutil
pyparsing
cycler
kiwisolver
cffi
requests

# OO
# 
# non conda// https://pygobject.readthedocs.io/en/latest/getting_started.html#macosx-getting-started
# CV adversial attack
# why batch size <-> param size
# batch size large -> stable
# how attack
# how to detect Byzantine (why these rules)
# num_step * batch_size = training progress
# num param Conv : 431080
# why running away from VN condition wont work
# how to specifically counter certains attacks like little/empire
